/*
  Css Name : main.css
  Description : 메인 CSS
  Modification Information

      수정일        수정자          수정내용
     ----------    --------    ---------------------------
     2011.09.26    	구지연          최초 생성
     2016.10.14     장동한          v3.6작업
     

    author   : 공통컴포넌트 개발팀 구지연
    since    : 2011.09.26
*/
@CHARSET "UTF-8";

* { margin: 0; padding: 0; border: 0; }

/* reset */
frameset, frame, p, div  { margin:0; padding:0; border:0; }

div,table,form,fieldset,p,th,td,input,textarea,select,button { 
	font-family: '돋움', '굴림', 'Arial', 'AppleGothic', 'sans-serif'; font-size: 12px; color: #666; }

.top_title_strong { color: #000000; font-size: 18px; }
		
#header { position: relative; width: 100%; height: 70px; border-top: 4px solid #0c4ca4; border-bottom: 1px solid #d7d7d7; }
	.header_box { padding: 20px 0 0 40px; }
	.header_box h1 { float: left; margin-right: 20px; }
	.header_box p { margin-top: 2px; color: #333; font-size: 13px; font-weight: bold; }
#container { position: absolute; width: 100%; top: 110px; left: 0; right: 0; bottom: 65px; }
	#lnb { position: absolute; top: 0; left: 20px; bottom: 0; width: 90%; margin-right: 30px; background: #fff; overflow-y: scroll; }
		ul.lnb_title { padding-right: 25px; }
		ul.lnb_title > li { padding-top: 12px;; padding-bottom: 5px; margin-bottom: 0px; }
		ul.lnb_title > li:last-child { padding-bottom: 0; border-bottom: 0; }
		.left_title_strong { color: #4c4c4c; font-size: 15px; font-weight: bold;}
		
		ul.lnb_title > li > ul { padding-top: 4px; }
		ul.lnb_title > li > ul > li { margin-top: 9px; }
		ul.lnb_title > li > ul > li a:hover { font-weight: bold; }
	#contents { position: absolute; left: 300px; top: 25px; right: 0; bottom: 0; overflow-y: auto; }
#footer { position: absolute; bottom: 0; width: 100%; height: 45px; background: #d3d3d3; }
#footer p { color: #555; font-size: 11px; font-weight: bold; text-align: center; margin-top: 17px; }
#footer div {margin-top:12px; text-align: center;width:100%; }
	.footer_title_strong { color: #666; font-size: 17px; font-weight: bold; }

a.link { color: #666; text-decoration: none; font-weight: normal;}
a.link:hover { color: #000000; text-decoration: none; font-weight: bold;}
a, button, input[type="button"] { cursor: pointer; }