@charset "utf-8";

@import "style.css";


/* login Layout *********************************/
.login_form { width: 281px; margin: 90px auto 0; margin-left: 31%; }
.login_form h1 { width: 174px; height: 25px; background: url('../images/login_tit.png') no-repeat; margin-left: 47px; text-indent: -10000em; }
.idpw_form { position: relative; top: 90px; display: flex; justify-content: center; }
.id_search { float: left; padding-right: 30px;  }
.pw_search { float: left; padding-left: 30px; border-left: 1px solid #e2e1e2; }
.id_search h2, 
.pw_search h2 { text-align: center; font-size: 19px; color: #222; }
	.login_type { width: 100%; margin-top: 25px; }
	.login_type ul { display: inline-block; }
	.login_type ul li { float: left; margin-left: -1px; }
	.login_type ul li:first-child { margin-left: 0; }
	.login_type ul a { display: block; height: 33px; line-height: 33px; font-size: 14px; font-weight: bold; padding: 0 33px; background: #f4f4f4; border: 1px solid #e6e6e6; }
	.login_type ul a:hover { background-color: #e6e6e6; }
	.login_type ul a.on { background: #0c4ca4; color: #fff; border: 1px solid #0c4ca4; }
	.login_input { margin-top: 10px; }
	.login_input ul li { margin-bottom: 10px; }
	.login_input ul li label { display: none; }
	.login_input ul li input[type="password"],
	.login_input ul li input[type="text"] { width: 97%; height: 39px; border: 1px solid #dfdfdf; background: #f9f9f9; font-size: 14px; padding-left: 10px; }
	.login_input ul li select { width: 286px; height: 39px; border: 1px solid #dfdfdf; font-size: 13px; padding-left: 6px; }
	.login_input ul li.chk { font-size: 13px; }
	.login_input ul li input[type="checkbox"] { margin-right: 5px; vertical-align: -3px; }
	.login_input ul li input.btn_login { width: 100%; height: 45px; margin-top: 6px; border: none; background: #0c4ca4; color: #fff; font-size: 18px; font-weight: bold; cursor: pointer; }
	.login_input ul.btn_idpw { float: right; margin-top: 5px; }
	.login_input ul.btn_idpw li { float: left; }
	.login_input ul.btn_idpw li:first-child { padding-right: 9px; border-right: 1px solid #d6d6d6; margin-right: 9px; }

